html, body{
	position: relative;
	font-size: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	background-color: #0D47A1;
}

/* contenedor*/
.contenedor{
	position: absolute;
    top: 0;
    bottom: 0;
    
    width: 100%;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.background-color-saf{
    background-color: #0D47A1;
}

.background-colo-saf-secundario{
    background-color: white;
}

/* Estilos de barra de navegación */
.navbar-saf{
    border-radius: 0px;
    background-color: #FFFFFF;
    border-color: #EFEFEF;
    transition: all .5s;
}

.navbar-toggle {
    position: relative;
    width: 50px;
    height: 45px;
    padding: 0;
    border: 0;
    margin-top: 10px!important;
    margin-right: 26px!important; 
}

/* icono 1 del boton nav*/
.navbar-toggle .icon-bar-top{
	position: absolute;
	top: 9px;
    left: 10px;
    right: 10px;
    width: auto;
    height: 3px;
    transition: all .5s;
    background-color: #FFFFFF!important;
    border-radius: 4px;
}

/* icono 2 del boton nav*/
.navbar-toggle .icon-bar-middle{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 21px;
    width: auto;
    height: 3px;
    transition: all .5s;
    background-color: #FFFFFF!important;
    border-radius: 4px;
}

/* icono 3 del boton nav*/
.navbar-toggle .icon-bar-bottom{
	position: absolute;
	bottom: 9px;
    left: 10px;
    right: 10px;
    width: auto;
    height: 3px;
    transition: all .5s;
    background-color: #FFFFFF!important;
    border-radius: 4px;
    
}
.nav{
    margin: 12px
}

.navbar-brand img {
    height: 100%;
}

.navbar-brand {
    padding: 5px;
}
.navbar-brand {
    line-height: 30px;
    height: 74px;
}

.navbar-saf .navbar-nav>li>a {
    color: #0D47A1;
    font-weight: 600;   
}

.vertical-center{
    margin-top: 25%;
    margin-bottom: 25%;
}

.horizontal-center{
    margin-right: 25%;
    margin-left: 25%;
}

.pad{
    padding-top: 16px;
    padding-bottom: 16px;
}

.login{
    background-color: white;
    height: 100%;
    margin-top: 8%;
}
.img-center-block {
    display: block;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.img-login{
    width: 460;
    height: auto;
    max-width: 100%;
}