/* Estilos para Login */
.login-img {
    margin: 20px;
}
.login-box{
    text-align: center;
    align-self: center;
    color: #FFFFFF;
    margin-top: 15%;
}
.login-box-fg {
    text-align: center;
    align-self: center;
}
.login-inputs{
    border-bottom: 4px solid #FFFFFF;
    box-shadow: none;
    text-overflow: ellipsis;
    width: 350px;
    height: auto;
    padding: 20px 0;
    border: 0px;
    /* border-bottom: 4px solid #fff; */
    outline: 0;
    color: #424242!important;
    background-color: #FFFFFF!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    margin: 5px;
    font: 19px Lato,Helvetica,Arial,sans-serif;
    text-align: center;
}

.login-btn-submit {
    width: 350px;
    height: 50px;
    font: 19px Lato,Helvetica,Arial,sans-serif;
    border-radius: 4px;
    background-color: #B71C1C;
    border: 1px solid #FFFFFF;
    color: #FFF;
    display: inline-block;
    margin: 1.5em 0 0;
    outline: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease-out,border-color .2s ease-out;  
}

.userPic {
    text-align: center;
    align-self: center;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;    
    width: 100%;
}

.home-row-top {
    height: 75px;
}